# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Flask specific
instance/
*.db
*.sqlite3

# Environment variables
.env
.env.*

# Logs
*.log

# Other
*.pot
*.pyc

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
